th {
    text-align: center;
}

table tr td{
	text-align: center;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
  border: 1px dotted #c7d6de!important;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 2px !important;
}


#delivery_memo{
  /*height:1000px;*/
  background-color: #f1f1f1;
  /*margin: 10px auto;*/
  padding: 15px;
}
.memo_title {
  background-color: #2d2d2d !important;
  padding: 4px 50px;
  display: inline-block;
  clip-path: polygon(0 0, 0 0, 5% 51%, 0 100%, 0 100%, 55% 100%, 100% 100%, 100% 100%, 95% 52%, 100% 0, 100% 0, 45% 0);
}
.memo_title h4 {
  color: #ffffff !important;
  display: inline-block;
  margin: 0px;
}


.comp_name{
  color: #2d2d2d !important;
}
.comp_name h1{
  padding: 7px 25px;
  /*clip-path: polygon(0 0, 0 0, 3% 51%, 0 100%, 0 100%, 55% 100%, 100% 100%, 100% 100%, 97% 52%, 100% 0, 100% 0, 45% 0);*/
  /*background-color: #2d2d2d;*/
  /*display: inline-block;*/
  margin: 0px;
}

.container_slip{
	width: 700px;
	margin: 0px auto;
}

strong{
  font-size: 16px;
}

h3.print_title{
    margin: 0px!important;
    padding: 4px 10px!important;
    background-color: #c7d6de!important;
    color: #000!important;
    font-size: 14px!important;
    margin-top: 10px!important;
}


.prescription_footer{
    background-color: #38be81!important;
    color: #fff!important;
}

.prescription_footer h3{
  color: #fff !important;
}


.top_section{
  background: url(../../../uploads/logos/water_mark.png) center no-repeat;
}

.name_title h3{
    margin: 0px !important;
}
.address h3{
    margin: 0px !important;
}
